body {
  font-family: "Nerko One", "cursive", sans-serif;
}
.card-img {
  height: 550px;
  width: 60%;
}

.green {
  background-color: green;
  color: black;
}
.red {
  background-color: red;
  color: black;
}

/* map.html */
#map {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: #e7eaf0;
}

@media only screen and (min-width: 300px) {
.card-img {
  height: 200px;
  }

}

@media only screen and (min-width: 368px) {
  /* map.html  */
div#map {
    min-height: 368px;
  }
}

@media only screen and (min-width: 768px) {
#map {
    min-height: 768px;
  }

.card-img {
    height: 480px;
  }
}

@media only screen and (min-width: 1170px) {
#map {
    height: 1100px;
  }

<<<<<<< HEAD
=======
  /* mail.html */

#project_request {
    height: 5%;
    width: 200px;
    left: 600px;
    position: absolute;
}

>>>>>>> 08d25e3615d175995bea32e9cc11ddb3d140a8e7
}
